@font-face {
  font-family: 'PingFang SC';
  src: url(/fonts/PingFang.ttf);
}
.articleLayout{
  font-family: PingFang SC, serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .articleLeft{
    width:809px;
    .articleBread{
      margin-top: 20px;
      margin-bottom: 36px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      /* identical to box height, or 157% */
      /* 0-中性色 Neutral/N60 */
      color: #8C8C8C;
    }
    .articleTitle{
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      /* identical to box height, or 125% */
      /* 0-中性色 Neutral/N80 */
      color: #262626;
    }
    .articleInfo{
      margin-bottom: 51px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      /* identical to box height, or 150% */
      /* 0-中性色 Neutral/N70 */
      color: #595959;
    }
    .articleContent{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      /* or 157% */


      /* 0-中性色 Neutral/N80 */

      color: #262626;
      margin-bottom: 32px;
    }
  }
  .articleRight{
     width: 689px;
    margin-top:73px;
    margin-left: 80px;
    .articleAnchor{
      margin-top: 20px;
    }
   }
}
.articleAnchorLink{
  margin:0;
  padding-left: 0;
  background-color: white;
  border: 0;
  a{
    border: 0;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    /* 0-中性色 Neutral/N70 */

    color: #595959;
  }

  a:hover{
    color: #0CCCC3;
  }
  a:active{
    color: #0CCCC3;

  }
  a:focus{
    color: #0CCCC3;
  }
}
.articleContentH1{
  font-family: PingFang SC;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */


  /* 0-中性色 Neutral/N80 */

  color: #262626;

}
.articleContentH2{
  font-family: PingFang SC;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */


  /* 0-中性色 Neutral/N80 */

  color: #262626;

}

